.content {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  margin: 5% auto;
}